/* css vars */
@media screen {
	:root {
	--bg-color-body :#33393c;
	--bg-color-defaut : rgb(45, 100, 187);
	--bg-color-defaut-odd : orange;
	--bg-color-defaut-art : orchid;
	--bg-colordefaut-art-even : yellowgreen;
	--color-a : crimson;
	--color-el-a : #333;
	--color-el-a-hover : whitesmoke;
	--bg-gradient : linear-gradient(to bottom right,rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5));
	--shadow-go-top : 0 0 5px whitesmoke; 
	--shadow-box-level1 : ; 
	--bg-lighten-half :  rgba(125,125,125,0.2); 
	--bg-darken-005 : rgba(0,0,0,0.05); 
	--bg-darken-01 : rgba(0,0,0,0.1); 
	--bg-lighten-005 :rgba(255,255,255,0.05);
	--bg-lighten-01 :rgba(255,255,255,0.01);
	--bg-lighten-02 :rgba(255,255,255,0.02);	 
	}
}

/* resets */
@media screen {
	html {
	  scroll-behavior: smooth;
	}
	* {
	  box-sizing: border-box;
	  padding: 0;
	}

	body {
	  line-height:1.6
	}
	body :is(h1,h2,h3,h4,h5,h6) {
	  text-decoration: underline;
	}
	body :is(h1,h2,h3,h4,h5,h6):after {
	  content:' . . . ';
	  text-decoration: inherit;
	  color:transparent
	}
	dl,ol,ul {
	  margin-inline: 1rem;
	}
	table {
	  border-radius:5px;
	  overflow: hidden
	}
	table,th,td {
	  border:solid 1px var(--bg-darken-02);
	  border-spacing:0;
	}
	th {
	  background:var(--bg-lighten-005);
	}
	th,td {
	  padding:0.75rem;
	}
	pre,
	blockquote{
	  margin:0.5rem 1rem;
	  background:var(--bg-lighten-005);
	  padding:0.25rem;
	}
	form fieldset legend {
	  min-width:auto;
	  padding-inline: 1rem;
	}
	
	p,
	blockquote {
	  margin: 0;
	}
	
	fieldset * {
	  min-width: 100%;
	  max-width: 100%;
	}
	form fieldset {
	  display: grid;
	  max-width: 45ch;
	  margin: auto;
	  align-items: center;
	  gap: 1em;
	  padding: 1rem;
	}
	.mode-article form [type="submit"],
	#id_rep {
	  min-width: auto;
	  display: block;
	  margin: auto;
	}
	
	
	body > * ul {
	  padding: 0;
	  list-style: none;
	}

	body > * li::before {
	  padding-inline-end: 0.5rem;
	  vertical-align: -0.1rem;
	  content: "⎆";
	  color: orchid;
	  font-size: 1.5rem;
	  filter: drop-shadow(1px 1px black);
	}

	article img {
	  width: 0;
	  min-width: 80%;
	}
	body.mode-home > article > a img {
	  max-height: 15vw;
	  object-fit: contain;
	}
	body > article > a img {
	  display: block;
	  margin: auto;
	  max-height: 25vh;
	  object-fit: contain;
	}
	details div {
	  display: flex;
	  flex-wrap: wrap;
	  padding: 1rem;
	  gap: 1rem;
	}
	ul ul,
	html body nav ~ nav:not(.repertory.menu.breadcrumb):empty,
	p:empty,
	div:empty {
	  display: none;
	}
	p.more,
	.art-date{
	  display:block;
	  text-align:end;
	}
}

/* layout */
@media screen {
	
	
	body {
	  display: grid;
	  grid-auto-flow: row dense;
	  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	  grid-template-rows: masonry;
	  gap: 1rem;
	  padding: 1rem;
	  max-width: 1200px;
	  margin: auto;
	}
	
	body:not(.mode-article) form {
	  display:flex;
	  flex-wrap:wrap;
	}
	body:not(.mode-article)  form fieldset {
	  display:grid;
	  grid-template-columns:1fr 1fr;
	}
	body:not(.mode-article) form fieldset :is([type="submit"],[hidden], button, textarea, p) {
	  grid-column:1/-1;
	  margin:auto;
	}
	body:not(.mode-article) form fieldset p label {
	  min-width:50%;
	  display:inline-block
	}
	body:not(.mode-article) form fieldset p input,
	body:not(.mode-article) form fieldset input[type="submit"], 
	body:not(.mode-article) form fieldset input[type="range"]  {
	  min-width:auto;
	  max-width:30%;
	  vertical-align:middle;
	}
	body > nav.repertory.breadcrumb.menu {
	  grid-column: 1/-1;
	  padding: 0 0.2rem;
	  background: yellowgreen;
	}
	body > nav.repertory.breadcrumb.menu ul {
	  justify-content: start;
	}
	
		
	body > a:first-of-type {
	  grid-row: 1;
	  grid-column: 1/-1;
	  width: max-content;
	  padding-inline-end: 2rem;
	  border: none;
	  border-bottom: solid;
	  text-decoration: none;
	  margin-top: auto;
	}
	body > header {
	  grid-row: 2;
	  grid-column: 1;
	}
	body > div[title="logo"] {
	  display:flex;
	  grid-row: 2;
	  grid-column: 2;
	  background: tomato;
	}
	body > div[title="logo"] img{
		max-width:90%;
	  margin:auto;
	}
	body.mode-home > header {
	  display: grid;
	  grid-template-columns: minmax(200px, 1fr);
	  justify-content: center;
	  align-items: center;
	  margin-block: auto;
	}
	@supports (grid-template-rows: masonry) {
	  body.mode-home > aside {
		grid-column: 2;
	  }
	}
	@media screen and (max-width: 1100px) {
	  body > div:first-of-type {
		grid-row: auto;
		grid-column: auto;
	  }body.mode-home > header {
	  grid-column: 1 / 3;
	}
	}
	@media screen and (max-width: 850px) {
	  body.mode-home {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	  }
	  body > header {
		grid-column: 1/-1;
	  }
	}
	@media screen and (max-width: 480px) {
	  body {
		display: flex;
		flex-direction: column;
	  }
	  body:not(.mode-home) > nav ul li {
		width: 30%;
		white-space: nowrap;
		text-overflow: ellipsis;
	  }
	}
	
	body > footer {
	  grid-column: auto / span 2;
	  text-align: center;
	}
	body:not(.mode-home) > nav {
	  grid-column: -3/-1;
	}
	body:not(.mode-home) > nav > ul {
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	}
}

/* navs */
@media screen {
	body > nav.repertory.breadcrumb.menu ul li:before {
	  content: "";
	}
	body > nav.repertory.breadcrumb.menu ul li:last-of-type:before {
	  content: "/";
	}
	body > *:not(a) {
	  border: solid 1px;
	  padding: 1rem;
	  border-radius: 5px;
	  box-shadow: 2px 2px 5px #000, inset 0 0 2px #000;
	}
	body > aside li {
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	body  > nav ul li ul, 
	body > nav ul li.menu ul.submenu  {
	  display: none;
	  background: inherit;
	  position: absolute;
	  right: 0;
	  left: 0;
	  margin: 0;
	  box-sizing: border-box;
	}
	body > nav ul ul li:before {
	  color: white;
	}
	body:not(.mode-home) > nav ul li ul li {
	  display: flex;
	  align-items: center;
	  width: 100%;
	}
	body:not(.mode-home) > nav ul ul li a {
	  flex-grow: 1;
	}
	body > nav ul ul li:hover {
	  background: var(--bg-lighten-02);
	}
	body > nav ul li {
	  position: relative;
	  padding: 0 0.25rem;
	}
	body  > nav ul li:hover {
	  background: purple;
	  border-radius: 5px;
	}
	body  > nav ul li:hover ul {
	  display: block;
	  margin-top: -5px;
	  border-radius: 0 0 5px 5px;
	  z-index: 1;
	}
	body > nav ~ nav:not(.menu.repertory.breadcrumb) {
	  grid-column: auto / span 2;
	  background: whitesmoke;
	  color: #333;
	  margin-inline: auto;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  flex-wrap: wrap;
	  font-size: 2em;
	  box-shadow: 0 0 5px whitesmoke;
	  margin-block: 1rem;
	}
}


/* comments */
@media screen {
	#coms {
	  max-width: 700px;
	  margin: 8rem auto 2rem;
	  padding-top: 1rem;
	  color: #357;
	  box-shadow: 0px -40px 0 -39px gray;
	  font-weight: bold;
	  text-shadow: 0 0 gray;
	}
	#coms .comment {
	  width: 75%;
	  margin: auto;
	  min-width: 200px;
	  background:var(--bg-lighten-01);
	  padding: 1px;
	  text-align: end;
	  border-top: solid 1px lightgray;
	}
	#coms .comment div {
	  text-align: start;
	}
	#coms .comment:not(.level-0) {
	  padding-inline-start: 2rem;
	  border-top: none;
	}

	#coms a[onclick] {
	  display: inline-block;
	  margin-inline-end: 1rem;
	  margin-block-end: 0.5rem;
	  padding-inline: 0.5rem;
	  border-radius: 0 0 5px 5px;
	}
	#coms .comment:not(.level-0) > * {
	  background: var(--bg-darken-01);
	}
}
/*colors */

@media screen {
	body {
	  background:var(--bg-color-body); 
	  color: ivory;
	}
	body > *:not(a) {
	  background-color:var(--bg-color-defaut);
	}
	body > *:nth-child(even) {
	  background-color:var(--bg-color-defaut-odd);
	}
	body > article {
	  background-color:var(--bg-color-defaut-art);
	}
	body:not(.mode-home) > article {
	  grid-column: 1/-1;
	  margin-inline: calc(8% - 5vw);
	}
	body > article:nth-child(even) {
	  background-color:var(--bg-colordefaut-art-even);
	}
	a {
	  color:var(--color-a); 
	  text-decoration: none;
	}
	body > * a {
	  color:var(--color-el-a);
	}
	body > * a:hover {
	  color:var(--color-el-a-hover);
	  text-decoration: underline
	}

	body > *:not(a) {
	  background-image:var(--bg-gradient);
	}
	body > a:last-of-type {
	  margin: 3rem auto;
	  font-size: 2em;
	  position: sticky;
	  bottom: 1rem;
	  background: inherit;
	  padding-inline: 1rem;
	  border-radius: 0.5rem;
	  box-shadow:var(--shadow-go-top);
	}

}



